@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


/* body{
    margin: 0;
    padding: 0;
    background-image: url("./0.JPG");
    background-repeat: no-repeat;
    background-size: cover;
} */

body{
    background-image: url("/5.png");
    background-repeat: no-repeat;
}

.main{
    display: flex;
    position: relative;


}
.title{
    margin-top: 0;
    margin-right: 300px;
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    color:#1679AB;
}

.g{
    color: #90D26D;
}

.btn1 {
    border: 2px dashed #000; 
    width: 50px;
    height: 40px; 
    display: flex;
    justify-content: center;
    margin-right: 5px;
    margin-top: 10px;
    align-items: center; 
    border-radius: 5px;
  }
.btn2 {
    height: 40px; 
    margin-top: 10px;
    background-image: url("./ind.JPG");
    background-size: auto 10px;
    background-repeat: no-repeat;
    background-position: center center; 
    border-style: dashed;
    width: 50px;
    border-radius: 5px; 
    margin-right: 5px;
}
.btn3{
    border: 2px dashed #000; 
    width: 150px;
    height: 40px; 
    display: flex;
    justify-content: center;
    margin-right: 5px;
    margin-top: 10px;
    align-items: center; 
    border-radius: 5px;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.btn4{
    background-image: url();
    background-size: auto 10px;
    background-repeat: no-repeat;
    background-position: center center;
    height: 40px;
    margin-right: 5px;
    margin-right: 0px;
    border-radius: 5px;
    background-color: #10439F;
    width: 150px;
    border: none;
}
.select{
    padding-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    height: 45px;
    margin-top: 10px;
    background-color:#10439F;
    border-radius: 5px;
}
.select span{
    margin-left: 10px;
    display: inline-block;
    position: relative;
    color: aliceblue;
}

.btn5,.btn6{
    border: 2px dashed #000; 
    width: 160px;
    height: 40px; 
    display: flex;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    align-items: center; 
    border-radius: 5px;
}

.btn6{
    width: 180;
}

.main2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    position: absolute;
    height: 60px;
    width: 750px;
    border: 2px solid black;
    margin-top: 10px;
    border-radius: 25px;
    top: 29%;
    left:20%;
    display: flex;
    justify-content: center;
    z-index: 10;
    background-color: white;
}

.box1{
    left:15%;
    top:35%;
   position: absolute;
    height: 170px;
    width: 900px;
    border: 2px solid black;

    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
    /* margin: 0 auto; */
    display: flex;
    border-radius: 5px;
    background-color: #10439F;
    /* gap: 10px; */
}
.item
{
    display: flex;
    justify-content: space-evenly;
}
.box3{
    display: flex;
    margin-top: 15px;
    width: 80%;
    margin-left: 20px;
    color: white;
}
.box4{
    display: flex;
    color: white;
}
.box input{
    background-color:#10439F;
    color: #10439F;
}

.b1,.b2,.b3,.b4,.b5,.b6{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-left: 10px;
    height: 30px;
    width: 105px;
    border-radius: 25px;
    border: 2px black solid;
}

.b2{
    background-color: #10439F;
    color: white;
}

.hotel{
    height: 20px;
    padding-right: 10px;
}

.b7,.b8,.b9{
    height: 40px;
    width:260px;
    border: 1px solid white;
    display: flex;
    color: white;
    margin-top: 50px;
    margin-left: 10px;
}

.i1{
    height: 40px;
    width:115px;
}

.i2{
    height: 40px;
    width:30px;
}

.moon{
    height: 20px;
    margin-left: 15px;
    color: white;
}

.night{
    
}

.i3{
    height: 40px;
    width:115px;
    text-align: right;
}

.search{
    height: 40px;
    width:40px;
    background-color: white;
     display: flex;
    justify-content: center;
     align-items: center;
     margin-top: 50px;
     margin-left: 10px;
}

.box3{
    text-align: left;
}

.s1,.s2,.s3,.s4{
    margin-left: 10px;
    border-radius: 10px;
    height: 20px;
    width:40px;
    background-color: white;
    display: flex;
    justify-content: center;
     align-items: center;
     color: black;
}

.box5{
    position: absolute;
    top: 70%;
    left: 20%;
    display: flex;
    align-items: center;
    /* background-color: red; */
    height: 50px;
    padding-right: 25px;
    gap: 35px;
    /* border-right: 2px solid rgb(16, 15, 76); */
}
.box5 .list{
    width: 120%;
    display: flex;
    gap: 40px;
    /* background-color: red; */
    padding-bottom: 20px;
    border-bottom: 2px solid black;
}

.v1{
    font-size: 40px;
    font-weight: 800;
    margin-right: 3px;
    /* background-color: red; */
    padding-bottom: 0px;
    color: #102854;
}

.l1{
    display: flex;
    align-items: center;
    border-right: 2px solid rgb(16, 15, 76); ;
    height: 45px;
    padding-right: 30px;
    justify-content: space-around;
}

#hi{
    border: none;
    display: flex;
    flex-direction:column;
    /* border: 1px solid red; */
    width: 100px;
    padding: 0px;
    gap: 0px;
    display: inline;
}
#hi p{
    font-size: 10px;
    padding: 0px;
    /* background-color: red; */
    position: absolute;
    bottom: 33px;

    z-index: 10;
    /* left:1px; */
    /* right: -10px; */
}
.l12{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid blue; */
    padding: 0px;
    /* background-color: blue; */
    padding-bottom: 0px;
    position: absolute;
    /* bottom: 2px; */
}
.l12 h4{
    padding-bottom: 10px;
}

.l12 img{
    height: 35px;
    /* background-color: red; */
}

.box6{
    position: absolute;
    top: 80%;
    display: flex;
    left: 10%;
    /* height: 50px; */
    gap: 200px;
    /* background-color: red; */

}
.foot{
    display: flex;
    align-items: center;
    justify-content: space space-between;

}
.foot span{
    /* position: absolute; */
    padding: 20px;
    /* right: 30px; */
}
.safe1{
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    height: 30px;
    justify-content: center;
    /* align-items: ; */
    gap: 10px;
    padding-bottom: 20px;
    /* overflow: hidden; */

}
.safe1 p{
    font-size: 12px;
    position: absolute;
    top: 28px;
}
.safe1 h5{
    position: absolute;
    /* bottom: 2px; */

}
.safe11 h5{
    font-size: 20px;
    /* background-color: red; */
    padding-left: -10px;

}
.leaf p{
    font-size: 10px;
    /* background-color: red; */
    width: 40px;
    height: 25px;
    
}
